<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752457271300-goo4mjih5t6mesq8apcqbtqtmr05hn0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752457271300-goo4mjih5t6mesq8apcqbtqtmr05hn0q</string>
	<key>API_KEY</key>
	<string>AIzaSyCU8pqD-D905saa-Ft8y1YWd0dWCBdGvp4</string>
	<key>GCM_SENDER_ID</key>
	<string>752457271300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.mroot.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-8150c</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-8150c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752457271300:ios:21b4f4e0ff8712ada90d51</string>
</dict>
</plist>